*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #fff;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

.container{
  width: 80%;
  margin: 0 auto;
}

.clear-fix{
  margin-top:30px;
}

.product-top{
  display: inline-block;
  width: 100%;
}

.product-top .title{
  width: 50%;
  float:left;
  padding-top: 10px;
}

.product-top ul{
  width: 50%;
  float: left;
}

.product-top ul li a{
  float:left;
  padding: 10px;
  color: black;
}

.product-top ul li a:hover{
  color: red;
}

.product-top ul li .active{
  color: #a22327;
}

/* Product */
.product-list{
  margin-top: 30px;
}

.col-3{
  width: 25%;
  float: left;
}

.col-3 .name_product{
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
}

.col-3 .price_product{
  padding-top: 15px;
  font-size: 18px;
  font-weight: bold;
}

.col-3 .description{
  padding-top: 20px;
  padding-bottom: 10px;
}

@media screen and(max-width: 600px){
  .title,
  .product-top ul{
    width: 100%;
    float:none;
  }
}
